:root {
    --primary-bg: white;
    --text-color: black;
    --nav-bg: #6d2932;
    --nav-ul-li-a-text-color: white;
    --nav-ul-li-a-hover-bg-color: #97595e;
    --nav-ul-li-a-hover-text-color: white;
}

body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    padding: 0;
    margin: 0;
}